* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

header{
    position: absolute;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 100%;   
}


.menu  ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-family: "Heebo", sans-serif;
}

.menu a{
    text-decoration: none;
    color: rgb(226, 224, 224);

}

.menu{
    position: relative;
    left: 3%;
}

.search input{
    background: transparent;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 12px;
    padding: 12px 40px;
    
}
.search{
    position: relative;
    left: 2%;
}

#magnifying{
    position: absolute;
    color:rgb(226, 224, 224);
    left: 1.5%;
    top: 27%;
}

.search input::placeholder{
    color: rgb(226, 224, 224);
    font-size: 1.1em;
}

/*Header*/

/* HERO*/

.herobg img{
    width: 100%;
    position: relative;
    z-index: -99;
}

.redpoint img{
    position:absolute;
    z-index: 16;
    bottom: 87%;
    left: 33.5%;
}

.button1 button{
    position: absolute;
    bottom: 24%;
    left: 5.5%;
    background: #FF6F61;
    padding: 1.1% 3%;
    border: 0px solid;
    border-radius: 2em;
}

.arrowicon1 img{
    position: absolute;
    bottom: 25.55%;
    left: 16.7%;
    width: 2.4%;
}

.button1 span{
    position: relative;
    right: 15%;
    font-family: "Heebo", sans-serif;
    color: white;
}

.text6 p{
    position: absolute;
    bottom: 27.5%;
    left: 22.1%;
    font-size: 0.8em;
    color: white;
}

.button2 button{
    position: absolute;
    bottom: 24%;
    left: 25%;
    background: transparent;
    padding: 1.1% 2%;
    border: white 1px solid;
    border-radius: 2em;
    
}
.button2 span{
    font-weight:bold ;
    font-family: "Heebo", sans-serif;
    color: white;
}

.houricon img{
    position:absolute;
    bottom: -5%;
    left: 6%;
    width: 6%;

}

.text4 p{
    position: absolute;
    font-family: "Heebo", sans-serif;
    color: white;
    bottom: 3.9%;
    left: 13.5%;
}
.text5 pre{
    position: absolute;
    font-family: "Heebo", sans-serif;
    color: white;
    bottom: -7%;
    font-size: 0.85em;
    left: 13.5%;
}
.text1{
position: absolute;
z-index: 11;
left: 6%;
top: 20%;
background: #2ecc709a;
border: 3px solid #2ecc70;
border-radius:1em 1em 0em 1em;
padding: 0.6% 1.54%;
width: 350px;
height: 48px;
}

.text1 p{
font-family: "Heebo", sans-serif;
color: white;
font-weight: bold;
font-size: 1.2em;
letter-spacing: 3px;
}

.text2 pre{
    position:absolute;
    z-index: 12;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    left: 6%;
    top: 35%;
    font-size: 250%;
}

.text3 pre{
    position:absolute;
    z-index: 12;
    color: white;
    font-family: "Heebo", sans-serif;
    left: 6%;
    top: 55%;
    font-size: 120%;
}

.doctor img{
    position: absolute;
    width: 30%;
    left: 53%;
    top: 17%;
} 

 .checkavalaibilty
 {
    position: absolute;
    top: 64.7%;
    left: 44.5%;
    width: 600px;
    height: 260px;
    background: white;
    border: 0px solid;
    border-radius: 1em 1em 0 0;

 }
 .row{
    display: flex;
    position: absolute;
    left: 6%;
    top: 15%;
    gap: 1em;
 }
 .row select{
    background: transparent;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 12px;
    padding: 13px 80px;
 }
 .row select{
    color: #969696;
    font-family: "Heebo", sans-serif;
 }

 .column{
    display: flex;
    position: absolute;
    left: 5.6%;
    top: 46%;
    gap: 1em;
 }
 .column select{
    background: transparent;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 12px;
    padding: 13px 103.5px;
 }
 .column select{
    color: #969696;
    font-family: "Heebo", sans-serif;
 }

 .submit input{
    position: absolute;
    bottom: 16%;
    left: 36%;
    color: white;
    background: #FF6F61;
    font-family: "Heebo", sans-serif;
    padding: 1.1% 1%;
    border: 0px solid;
    border-radius: 1em;
}
 
#line1{
    position: absolute;
    top: 79%;
    left: 6%;
}

#line2{
    position: absolute;
    top: 79%;
    left: 66%;
}
 .formicon1 img{
    position:absolute;
    width: 3.5%;
    top: 20%;
    left: 14%;
 }

  .formicon2 img{
    position:absolute;
    width: 3.5%;
    top: 20%;
    left: 59.5%;
 }

 .formicon3 img{
    position:absolute;
    width: 3.5%;
    top: 51.5%;
    left: 14%;
 }

 .formicon4 img{
    position:absolute;
    width: 3.5%;
    top: 51.5%;
    left: 59.5%;
 }

/* HERO*/

/*SECTION IMG*/
.elementsimg1{
    position: relative;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    margin-left: 9em;
    margin-bottom: 5em;
    
}

.elementsimg1 img{
    width: 60%;
    
}

/*SECTION IMG*/

/* ABOUT US */

.aboutbg img{
    width: 100%;
}

.aboutus{
    position:relative
}

.aboutimg1 img{
    position:absolute;
    width: 45%;
    top: 4%;
    left: 9%;
}

.aboutimg2 img{
    position: absolute;
    top: 37%;
    left: 9%;
}

.aboutltext{
    position: absolute;
    top: 42%;
    left: 30%;
    background: #5EE088;
    border-radius: 1em 1em 1em 0;
    width: 241px;
    height: 138px;

}

#aboutltext1{
    position: absolute;
    top: 22%;
    left: 15%;
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
}

#aboutltext2{
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 1.35em;
    letter-spacing: 1px;
    color: white;
    font-family: "Heebo", sans-serif;
}

.aboutrtext1{
position: absolute;
left: 63%;
top: 4%;
background: #5EE088;
border: 2px solid  #2ECC71;
border-radius:1em 1em 0em 1em;
padding: 0.7% 2%;
width: 141px;
height: 48px;
}

.aboutrtext1 p{
    color: white;
    font-family: "Heebo", sans-serif;
}

.aboutrtext2 pre{
    position: absolute;
    top:12%;
    left: 63%;
    font-size: 2.1EM;
    font-weight: bold;
    color: #3498DB;
    font-family: "Heebo", sans-serif;
}

.aboutrtext3 p{
    position: absolute;
    top:24%;
    left: 63%;
    width: 25em;
    color: black;
    font-family: "Heebo", sans-serif;
}

.commentbox{
    position:absolute;
    top:40%;
    left: 63%;
    width: 425px;
    height: 245px;
    border: #E1E1E1 1px solid;
    border-radius: 1em;
}

.person1 img{
    position: absolute;
    top: -7%;
    left: -1%;
    width: 10%;
}

.sercle{
    position: absolute;
    top: -7.2%;
    left: 7.5%;
    background: white;
    border: 1px solid #2ECC71;
    border-radius: 100%;
    height: 58px;
    width:58px;
}

.person2{
    position: absolute;
    top: -6%;
    left: 8.3%;
}


.comeenttext1 p{
    position: absolute;
    width: 25em;
    top: 18%;
    left: 2%;
    color: black;
    font-family: "Heebo", sans-serif;
}

.moreaboutus button{
    position: absolute;
    top: 110%;
    left: 5.5%;
    background: #DB4746;
    padding: 1.1% 3%;
    border: 2px solid #FF6F61 ;
    border-radius: 3em;
    width: 190px;
    height: 60PX;
}

.moreaboutus span{
    position: relative;
    right: 15%;
    font-family: "Heebo", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.3EM;

}

.arrowicon2 img{
    position: absolute;
    top: 114%;
    left:39%;
}

.comeenttext2{
    position: absolute;
    top:66%;
    left: 20%;
    font-size: 1EM;
    font-weight: bold;
    color: #3498DB;
    font-family: "Heebo", sans-serif;
}

.blueicon{
    position: absolute;
    top:66%;
    left: 5%;
}

/* ABOUT US */

/*SECTION STATICS*/

.stat{
    position: relative;
    margin-top:1em;
    display: flex;
    justify-content: center;
    gap: 2EM;
    color: #3498DB;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4.4EM;
}

.statdes1{
    position: relative;
    left: 11.7%;
    color: #313131;
    font-family: "Heebo", sans-serif;
    font-size: 1EM;
}

.statdes2{
    position: relative;
    left: 25%;
    color: #313131;
    font-family: "Heebo", sans-serif;
    font-size: 1EM;
}

.statdes3{
    position: relative;
    left: 35.6%;
    color: #313131;
    font-family: "Heebo", sans-serif;
    font-size: 1EM;
}

.statdes4{
    position: relative;
    left: 49%;
    color: #313131;
    font-family: "Heebo", sans-serif;
    font-size: 1EM;
}

.statics{
    margin-bottom: 5em;
}

/*SECTION STATICS*/

/*SERVICES*/
 
.serbg img{
    width: 100%;
}
.servecies{
    position:relative;
}

.ourser{
    position: absolute;
    top: 7%;
    left: 8%;
    background: #5EE088;
    border: 2px solid  #2ECC71;
    border-radius:1em 1em 0em 1em;
    padding: 1% 0%;
    width: 141px;
    height: 48px;
}

.ourser p{
    position: relative;
    left: 14%;
    font-size: 0.9EM;
    color: white;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
}

.textlar p{
    position: absolute;
    top: 13%;
    left: 8%;
    width: 15EM;
    font-size: 2EM;
    font-weight: bold;
    color: #3498DB;
    font-family: "IBM Plex Sans", sans-serif;
}
 .textsh p{
    position: absolute;
    width: 25em;
    top: 13%;
    left:65%;
    color: black;
    font-family: "Heebo", sans-serif;
    font-size: 0.9EM;
 }

 .card1{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .card2{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .card3{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .card4{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .card5{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .card6{
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 2EM;

 }

 .cardrow1{
    position: absolute;
    top: 22%;
    left:7.5%;
    display: flex;
    gap: 2EM;
 }

 .cardrow2{
    position: absolute;
    display: flex;
    top: 55%;
    left:7.5%;
    gap: 2EM;
 }

.cardtop img{
    position: relative;
    left: 10%;
    top: 1.4EM;
    width: 17%;
}

.cardtop .number p{
    position: relative;
    left: 3.8EM;
    bottom: 0.65EM;
    color: #D6F6FD;
    font-weight: bold;
    font-size: 4EM;
    font-family: "IBM Plex Sans", sans-serif;
    width: 20PX;
}

.texttop p{
    position: relative;
    left: 1.5EM;
    bottom: 2EM;
    font-size: 1.18EM;
    font-weight: bold;
    color: #3498DB;
    font-family: "IBM Plex Sans", sans-serif;

}

.textbott p{
    position: relative;
    left: 1.5EM;
    color: #5B5B5B;
    font-family: "Heebo", sans-serif;
    font-size: 1EM;
}

.buttonmore button{
    position: relative;
    left: 1.2EM;
    background: transparent;
    padding: 4% 12%;
    border: #FF6F61 1px solid;
    border-radius: 2em;
}

.buttonmore img{
    position: relative;
    top: 2.2EM;
    left: 9.5EM;
}

.buttonmore button span{
    position: relative;
    right: 1.3em;
    letter-spacing: 2px;
    color: #FF6F61;
}

.servicesbottom button{
    position: absolute;
    bottom: 10%;
    left: 41.8%;
    background: #FF6F61;
    padding: 1.1% 3%;
    border: 0px solid;
    border-radius: 2em;
}

.servicesbottom span{
    position: relative;
    right: 15%;
    font-size: 1.4EM;
    font-family: "Heebo", sans-serif;
    color: white;
}

.servicesbottom img{
    position: absolute;
    bottom: 10.6%;
    left: 56%;
}

/*SERVICES*/

